@import "tailwindcss";

@theme {
  --color-eng-bg: #f3f4f6;
  --color-eng-dark: #1a202c;
  --color-eng-panel: #edf2f7;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: #f3f4f6;
  color: #1a202c;
}

.bg-light-theme {
  @apply bg-white;
}

.bg-dark-theme {
  @apply bg-gray-800;
}

.title-light-theme {
  @apply text-black font-bold text-lg p-2;
}

.title-dark-theme {
  @apply text-white font-bold text-lg py-2 px-4;
}

.title2-dark-theme {
  @apply text-gray-400 font-semibold text-sm py-1;
}

.label-dark-theme {
  @apply text-gray-300 font-normal text-xs;
}

.iconbutton-dark-theme {
  @apply p-2 cursor-pointer flex items-center justify-center text-white;
}

.input-dark-theme {
  @apply w-full text-gray-300 border border-gray-300 rounded px-2 py-1 text-sm outline-none transition-shadow;
}

.input-dark-theme:focus {
  @apply border-blue-500 shadow-blue-500;
}

.input-dark-theme:hover {
  @apply border-gray-500 shadow-gray-500;
}

/* Hide scrollbar utilites */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom Scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937;
  /* thumb track */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937;
  /* gray-800 */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  /* gray-600 */
  border-radius: 4px;
  border: 1px solid #1f2937;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
  /* gray-500 */
}

/* Corner */
.custom-scrollbar::-webkit-scrollbar-corner {
  background: #1f2937;
}

.transition {
  @apply transition-all ease-in-out duration-300;
}

.bg-primary {
  @apply bg-gray-900;
}

.input {
  @apply w-full px-2 py-1 bg-gray-700 border border-gray-600 rounded text-xs text-white;
}